[SddmGreeterTheme]
Name=hyprlock
Description=Login screen that mirrors ~/.config/hypr/hyprlock.conf (Catppuccin Mocha, mauve)
Author=diskutabel
License=MIT
Type=sddm-theme
Version=1.0
Website=https://github.com/diskutabell
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=
QtVersion=6
